/* GENERAL */
*,
*::before,
*::after {
     box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65em;
    font-size: 1.2rem;
    color: #393d41
}

body h1,h2 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3
}

/* HEADER */
header {
    
    text-align: center;
    margin-inline: auto;
}

.header__logo {
    background-color: black;
    height:6.2rem ;
    padding-top: 1.6em;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 25rem;
    padding:2em
}

.banner p {
    margin-top: 1.5em;
}

.banner h1 {
    line-height: 1em;
    font-size: 2em;
    font-weight: 700;
    color: rgb(0, 128, 232);
}



.logo {
    width: 35%;
    

}

.btn__partiamo {
    background-color: #f04c2f;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1em;
    width: 30vw;
    padding:1em;
    border-style: none;
    border-radius: 5px;
    color: white;
    margin-top: 1.5em;
}

/* MAIN */

.vantaggi {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}

.vantaggi h2 {
    font-weight: 700;
    margin-bottom: 0.7em;
}

.vantaggi p {
    margin-bottom: 1.5em;
}

.vantaggi div {
    height:0;
    width: 50%;
    padding-bottom:50%;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-image: url(../images/notebook.jpg);
    margin-bottom: 1.5em;
    margin-inline: auto;
}

/* ASIDE */

/* FOOTER */



































