/* GENERAL */
*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    color: #393d41
}
/* font-family: 'Poppins', sans-serif; */

/* HEADER */
header {
    
    text-align: center;
    margin-inline: auto;
}

.header__logo {
    background-color: black;
    height:7em ;
    padding-top: 1.6em;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding:2em
}

.banner p {
    margin-top: 1.5em;
}



.logo {
    width: 35%;
    

}
header h1 {
    font-size: 2em;
    font-weight: 700;
    color: rgb(0, 128, 232);
}

.btn__partiamo {
    background-color: #f04c2f;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1em;
    width: 30vw;
    padding:1em;
    border-style: none;
    border-radius: 5px;
    color: white;
    margin-top: 3em;
}

/* MAIN */

/* ASIDE */

/* FOOTER */



































